body{text-align: center;}

footer{
    width: auto;
    height: auto;
    border: 0.5px solid black;
    border-radius: 0.5px;

    text-align: center;
}

nav{
    width: auto;
    height: auto;
    border: 0.5px solid black;
    border-radius: 0.5px;

    text-align: center;
}

.dalkar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

.vl {
    border-left: 1px solid black;
    height: 5px;
    padding: 2px;
    margin: 1px;
  }