{% include "header.html" %}
<header>
    <h1 class="center"> {{ title }}</h1>
</header>
<main class="container">

	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class="flashes">
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}
	<h4>Listi yfir notendur</h4>
	<ul>
		<li><h4>{{admin.nafn}} kerfisstjóri- {{ admin.netfang }}</li>
		{% for id, info in nemendur.items() %}
			<li>
				<strong>{{ info.nafn }}</strong> - {{ info.netfang }} 
				<!-- Hægt er að búa til tengil á nánari upplýsingar með ID -->
				<a href="{{ url_for('view_student', id=id) }}" type="button">Skoða</a>
				<a href="{{ url_for('delete', id=id) }}" type="button">Eyða</a>
			</li>
		{% endfor %}
	</ul>
</main>
{% include "footer.html" %}