{% include "header.html" %}

<main class="container">
    <h2>Upplýsingar um bók</h2>
    <ul>
        <li>titill: {{ booktitle }}</li>
        <li>isbn: {{ isbn }}</li>
        <li>höfundur: {{ author }}</li>
        <li>tími skráningar: {{ timestamp }}</li>
    </ul>
      <h4>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <span class=flashes>
          {% for message in messages %}
            {{ message }}
          {% endfor %}
          </span>
        {% endif %}
      {% endwith %}
      </h4>
</main>
{% include "footer.html" %}
