<footer class="container">
      <p class="center">&copy GJG. VEFÞ2VF, spönn 1, haust 2026.</p>
</footer>
    <!-- Modal Dialog - login form for students-->
    <dialog id="modal-example">
      <article>
        <header>
          <button
            aria-label="Close"
            rel="prev"
            data-target="modal-example"
            onclick="toggleModal(event)"
          ></button>
        <h3>&nbsp;</h3>
        <form action="/login" method="POST">
			<label for="user_id">
            	<input type="text"  name="user_id" id="user_id" required placeholder="Nafn">
			</label>
            <label for="user_id">Lykilorð:</label>
            <input type="text"  name="user_id" id="user_id" required>
            <button type="submit">Skrá inn</button>
        </form>
      </article>
    </dialog>
</body>
</html>