{% include "header.html" %}

<header>
    <h1 class="center"> {{ title }}</h1>
</header>
<main class="container">

	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class="flashes">
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}

    <div>
        {% if posts %}
            {% for post in posts %}
                <article>
                    {# Birta innihald póstsins #}
                    <p>{{ post.content  | safe }}</p>
                    
                    <footer class="post-meta">
                        {# Birta notendanafn (höfund) og tímastimpil #}
                        <small>
                            Sent af: <strong>{{ post.username }}</strong> 
                            þann {{ post.timestamp }}
                        </small>
                    </footer>
                </article>
                <hr>
            {% endfor %}
        {% else %}
            <p>Engar færslur fundust í gagnagrunni.</p>
        {% endif %}
    </div>

</main>
{% include "footer.html" %}