<!DOCTYPE html>
<html lang="is">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TinyDB og Json">
    <meta name="author" content="Guðmundur Jón Guðjónsson">
    <title> {% block title %}. 
                Verkefni 3. TinyDB & JSON 
            {% endblock %}
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='pico.indigo.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/svg" href="/static/images/Glogo.svg">
</head>
<body>
    <nav class="container">
        <ul>
            <li><h5><a href="{{ url_for('index') }}">Klúbburinn</a></h5></li>
        </ul>
        <ul>
        {% if session.user_id %}
            <li><a href="{{ url_for('profile') }}">Mín síða ({{ session.username }})</a></li>
            <li><a href="{{ url_for('logout') }}">Útskrá</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Innskrá</a></li>
            <li><a href="{{ url_for('signup') }}">Nýskrá</a></li>
        {% endif %}
        </ul>
    </nav>
    <main class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}<p class="flashes">{{ msg }}</p>{% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer class="container">
        <p class="center">&copy GJG. VEFÞ2VF, spönn 1, haust 2026.</p>
    </footer>
    <!-- Modal Dialog - login form for students
    <dialog id="modal-example">
      <article>
        <header>
          <button
            aria-label="Close"
            rel="prev"
            data-target="modal-example"
            onclick="toggleModal(event)"
          ></button>
        <h3>&nbsp;</h3>
        <form action="/login" method="POST">
			<label for="user_id">
            	<input type="text"  name="user_id" id="user_id" required placeholder="Nafn">
			</label>
            <label for="user_id">Lykilorð:</label>
            <input type="text"  name="user_id" id="user_id" required>
            <button type="submit">Skrá inn</button>
        </form>
      </article>
    </dialog>-->
</body>
</html>