<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verkefni</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <style>
        body {
            max-width: 64rem;
            margin: auto;
            padding: 1rem;
        }
        .flashes {
            color: red;
        }
        table {
            max-width: 48rem;
            margin: auto;
        }
        tfoot td{
            text-align: center;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Forsíða</a> |
        <a href="/sign-in">Innskráning</a> |
        <a href="/profile">Privat</a>
        <hr>
    </nav>
    <header>
        <h1>{{ title }} - verkefni 3</h1>
    </header>