{% include "header.html" %}

<main class="container">
      <h1>{{ user["bio"] }}</h1>
      <hr>
      <div>
        <h4>{{ user["username"] }}</h4>
          <hr>
          <p>{{ user["email"] }}</p>
      </div>
      <h4>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <span class=flashes>
          {% for message in messages %}
            {{ message }}
          {% endfor %}
          </span>
        {% endif %}
      {% endwith %}
      </h4>
      <section><!--ath hægt að nota tilvísun í app.py fall í forminu-->
        <form action="{{ url_for('form') }}" method="post" class="container">
            <fieldset>
                <legend>Skráning bókar</legend>
                <p>
                    <label for="title">Titill</label>
                    <input type="text" id="title" name="title">
                </p>
                <p>
                    <label for="isbn">ISBN</label>
                    <input type="text"  id="isbn" name="isbn">
                </p>
                <p>
                    <label for="author">Höfundur</label>
                    <input type="text"  id="author" name="author">
                <p>
                    <button type="submit">Submit</button>
                </p>
                <input type="hidden" id="timestamp" name="timestamp" value="1286705410">
            </fieldset>
        </form>
      </section>
      <p> <a href="/sign-out">Sign out</a></p>
</main>
{% include "footer.html" %}