<html>
    <head>       
        <title>{{ title }}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='pico.orange.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='grid.css')}}">
    </head>
    <body class="container">
        <header><h1>{{ title }}</h1></header>
        <main>
            <section class="col-13">
                <figure><img src="{{url_for('static', filename='gjg.png')}}" alt="Guðmundur"></figure>
                <div>
                    <p>{{ intro }}</p>
                    <ul> <!--listi a:key,b:value-->
                        {% for a, b in áfangar.items() %}
                        <li> <a href="afangar/{{ a }}"> {{ b }} </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </main>
    </body>
</html>