{% extends "layout.html" %}
{% block title %}Kvikmyndagreinar{% endblock %}
{% block content %}
    <section class="col-4">
        {% for i in d %}
            {% if fl in i["genres"] %} <!-- hér er færibreytan (fl) borin saman við i["genres"] -->
            <div>
                <p>{{ i["name"] }}</p>
                <a href="/shows/{{ i['id'] }}">
                    <img src="{{i['image']['medium']}}">
                </a>
            </div>
            {%endif%}
        {%endfor%}
    </section>
{% endblock %}
