<!DOCTYPE html>
<html lang="is">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TWmaze API">
    <meta name="author" content="Guðmundur Jón Guðjónsson">
    <title> {% block title %}. 
                Verkefni 3. TWmaze API 
            {% endblock %}
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='pico.indigo.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/svg" href="/static/images/Glogo.svg">
</head>
<body>
    <nav class="container">
        <ul>
            <li><h5><a href="{{ url_for('index') }}">Klúbburinn</a></h5></li>
        </ul>
        <ul>
            <li>Kvikmyndagreinar</li>
            <li>Leit</li>
        </ul>
    </nav>
    <header>
        <h2 class="center">{{title}}</h2>
    </header>
    <main class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}<p class="flashes">{{ msg }}</p>{% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
        
    </main>
    <footer class="container">
        <p class="center">&copy GJG, TWMAZE verkefni 3, VEFÞ2VF, spönn 1, haust 2026. </p>
    </footer>
</body>
</html>