<!DOCTYPE html>
<html lang="is">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TWmaze API">
    <meta name="author" content="Guðmundur Jón Guðjónsson">
    <title> {% block title %}. 
                Verkefni 3. TWmaze API 
            {% endblock %}
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='pico.indigo.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/svg" href="/static/images/Glogo.svg">
</head>
<body>
    <nav class="container">
        <ul>
            <li><h5><a href="{{ url_for('index') }}">Klúbburinn</a></h5></li>
        </ul>
        <ul>
            <li class="topnav">
                <input type="checkbox" id="toggle">
                <label for="toggle">&#9776; kvikmyndagreinar </label>
                <section class="topmenu">
                    <a href="/genres/Action">Action</a>
                    <a href="/genres/Adventure">Adventure</a>
                    <a href="/genres/Anime">Anime</a>
                    <a href="/genres/Comedy">Comedy</a>
                    <a href="/genres/Crime">Crime</a>
                    <a href="/genres/Drama">Drama</a>
                    <a href="/genres/Espionage">Espionage</a>
                    <a href="/genres/Family">Family</a>
                    <a href="/genres/Fantasy">Fantasy</a>
                    <a href="/genres/History">History</a>
                    <a href="/genres/Horror">Horror</a>
                    <a href="/genres/Music">Music</a>
                    <a href="/genres/Romance">Romance</a>
                    <a href="/genres/Science-Fiction">Science-Fiction</a>
                    <a href="/genres/Supernatural">Supernatural</a>
                    <a href="/genres/Thriller">Thriller</a>
                </section>
            </li>
            <li>
                <form method="POST" action="/search" role="search">
                <input type="search" name="query"
                       placeholder="Sláðu inn EITT orð" aria-label="Search"/>
                <input type="submit" value="Leita &nbsp;">
                </form>
            </li>
        </ul>
    </nav>
    <header>
        <h2 class="center">{{title}}</h2>
    </header>
    <main class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}<p class="flashes">{{ msg }}</p>{% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
        
    </main>
    <footer class="container">
        <p class="center">&copy DSG & GJG, TWMAZE verkefni 3, VEFÞ2VF, spönn 1, haust 2026. </p>
    </footer>
</body>
</html>