<nav>
    <h2>Charlies TV MAZE</h2>
    <a href="/">Heim </a> | <a class="vl" href="/leit"> Leit</a> | <a href="/new"> Nýtt efni</a><br>
    <a href="/genres/Action">Action</a>
    <a class="vl" href="/genres/Adventure">Adventure</a>
    <a class="vl" href="/genres/Anime">Anime</a>
    <a class="vl" href="/genres/Comedy">Comedy</a>
    <a class="vl" href="/genres/Crime">Crime</a>
    <a class="vl" href="/genres/Drama">Drama</a>
    <a class="vl" href="/genres/Espionage">Espionage</a>
    <a class="vl" href="/genres/Family">Family</a>
    <a class="vl" href="/genres/Fantasy">Fantasy</a>
    <a class="vl" href="/genres/History">History</a>
    <a class="vl" href="/genres/Horror">Horror</a>
    <a class="vl" href="/genres/Music">Music</a>
    <a class="vl" href="/genres/Romance">Romance</a>
    <a class="vl" href="/genres/Science-Fiction">Science-Fiction</a>
    <a class="vl" href="/genres/Supernatural">Supernatural</a>
    <a class="vl" href="/genres/Thriller">Thriller</a>
</nav>