{% include "header.html" %}

<main class="container">
	<h1>Nýskráning</h1>
	<form method="POST">
		<input type="text" name="nafn" placeholder="Nafn nemanda">
		<input type="email" name="netfang" placeholder="Netfang">
		<button type="submit">Vista</button>
	</form>
</main>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% include "footer.html" %}