<footer class="container">
      <p class="center">&copy GJG. spönn 1, haust 2026.</p>
  </footer>
    <!-- Modal Dialog - login form -->
    <dialog id="modal-example">
      <article>
        <header>
          <button
            aria-label="Close"
            rel="prev"
            data-target="modal-example"
            onclick="toggleModal(event)"
          ></button>
        <h3>&nbsp;</h3>
        <form action="/login" method="POST">
            <label for="user_id">Sláðu inn nemenda-ID:</label>
            <input type="text" id="user_id" name="user_id" required>
            <button type="submit">Skrá inn</button>
        </form>
      </article>
    </dialog>
    
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>
</html>