{% include "header.html" %}

<main class="container">
	<h2>Listi yfir nemendur</h2>
	<ul>
		{% for id, info in nemendur.items() %}
			<li>
				<strong>{{ info.nafn }}</strong> - {{ info.netfang }} 
				<!-- Hægt er að búa til tengil á nánari upplýsingar með ID -->
				<!--a href="{{ url_for('view_student', id=id) }}">Skoða</a-->
			</li>
		{% endfor %}
	</ul>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</main>
{% include "footer.html" %}