{% include "header.html" %}
<header>
    <h1 class="center"> {{ title }}</h1>
</header>
<main class="container">

	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class="flashes">
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}

	{% for id, post in skilabod.items() %}
		<h4>{{ post.fyrirsogn }}</h4>
		<p>{{ post.postur }} </p>
	{% endfor %}

	<hr>
	<h4>Listi yfir nemendur</h4>
	<ul>
		{% for id, info in nemendur.items() %}
			<li>
				<strong>{{ info.nafn }}</strong> - {{ info.netfang }} 
				<!-- Hægt er að búa til tengil á nánari upplýsingar með ID -->
				<!--a href="{{ url_for('view_student', id=id) }}">Skoða</a-->
			</li>
		{% endfor %}
	</ul>
</main>
{% include "footer.html" %}