{% include "header.html" %}
{{ ckeditor.load() }}
<main class="container">
    <h2>Velkomin(n) {{ nemandi.nafn }}</h2>
    
    <div class="profile-card">
        <p><strong>Nafn:</strong> {{ nemandi.nafn }}</p>
        <p><strong>Netfang:</strong> {{ nemandi.netfang }}</p>
    </div>
    <hr>
    <p><a href="{{ url_for('index') }}">Aftur á forsíðu</a></p>
    <form action="{{ url_for('logout') }}">
      <button type="submit">Útskráning</button>
  </form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <hr>
  <section>
    <h3>Skrifa póst</h3>
    <form method="post">
    {{ ckeditor.create() }}
    <input type="submit" value="senda">
</form>
  </section>

</main>
{% include "footer.html" %}