<html>
    <head>       
        <title>{{ title }}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='pico.orange.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='grid.css')}}">
    </head>
    <body class="container">
        <header><h1>{{ id.áfangi }} </h1></header>
        <main>
            <section class="col-13">
                <figure><img src="{{url_for( 'static', filename=id.mynd )}}" alt="áfangaval"></figure>
                <div>
                    <h3>{{ id.heiti }}</h3>
                    <p>{{ id.lýsing }}</p>
                    <p><a href="/">Aftur á forsíðu</a></p>
                </div>
            </section>
        </main>
    </body>
</html>