<html>
    <head>       
        <title>{{ title }}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='pico.orange.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
    </head>
    <body class="container">
        <header>
            <h1>{{ title }}</h1>
            <a href="/">Aftur á forsíðu</a>
        </header>
    </body>
</html>